In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('data/featv1_ANSI.csv')

In [3]:
data.head()

,1,2,3,4,5,6,7,8,9,10,...,819,820,821,822,823,824,825,826,827,class
0,0.000275,0.000203,0.000203,0.000275,0.000336,0.000509,0.000610,0.000895,0.001149,0.000875,...,0.007813,0.007125,0.007003,0.005815,0.005371,0.004939,0.004250,0.003440,0.066753,c1
1,0.000000,0.000000,0.000000,0.000000,0.000010,0.000000,0.000417,0.003062,0.005137,0.005035,...,0.004200,0.003512,0.003417,0.002676,0.002348,0.002380,0.001841,0.001111,0.076947,c1
2,0.000326,0.000224,0.000224,0.000305,0.000539,0.000458,0.000529,0.000427,0.000661,0.000682,...,0.006389,0.005934,0.005728,0.005088,0.004578,0.004144,0.003558,0.002408,0.062309,c1
3,0.002584,0.001577,0.001933,0.003082,0.003723,0.002950,0.002991,0.002848,0.003103,0.002675,...,0.009948,0.009983,0.009573,0.009854,0.010007,0.010347,0.010253,0.008810,0.128738,c2
4,0.000743,0.001475,0.006795,0.014089,0.013397,0.005900,0.002391,0.002096,0.001912,0.002126,...,0.007976,0.007139,0.006607,0.006098,0.006132,0.005408,0.005182,0.004197,0.155593,c2

In [4]:
X = data.drop(columns=['class'])

In [5]:
from sklearn import preprocessing

In [6]:
scaler = preprocessing.StandardScaler().fit(X)
X = scaler.transform(X)

In [7]:
y = data['class']

In [8]:
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import cross_val_score

In [9]:
from sklearn.svm import LinearSVC

In [34]:
linear_svm = LinearSVC(C=0.13)

In [35]:
score = np.mean(cross_val_score(linear_svm, X, y, cv=10))

In [36]:
score

0.836

In [ ]:
#0.15 => 0.837